:root {
  --fw-regular: 400;
  --fw-bold: 700;
  /* --fs-very-large: 5.5rem; */
  --fs-very-large: 2.5rem;
  --fs-large: 2rem;
  --fs-standard: 1.25rem;
  --fs-small: 1rem;
  /* --lh-very-large: 5.5rem; */
  --lh-very-large: 3rem;
  --lh-large: 2.5rem;
  --lh-standard: 2.125rem;
  --lh-small: 1rem;
  --primary: hsl(177, 68%, 64%);
  --accent1: hsl(12, 94%, 65%);
  --accent2: hsl(33, 100%, 70%);
  --white: hsl(20, 33%, 98%);
  --black: hsl(244, 23%, 12%);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--fs-standard);
  line-height: var(--fs-standard);
  color: var(--black);
  background-image: url(../assets/bg-main-mobile.png);
	background-repeat: no-repeat;
	background-size: 30rem;
	background-position: right -12rem top -9.875rem;
}

.header-logo {
  margin-left: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-very-large);
  line-height: var(--lh-very-large);
  letter-spacing: -1px;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.intro, .cta-text, .pricing{
  margin-left: 1.5rem;
  font-weight: var(--fw-regular);
  line-height: var(--lh-standard);
}

.intro {
  margin-bottom: 10rem;
}

.cta-text {
  margin-bottom: 2.25rem;
}

.header-illustration {
  display: none;
}

.image-container {
  background-color: var(--black);
	background-image: url(../assets/bg-pattern-2.svg);
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 12px;
	height: 37.5rem;
}

.app-illustration {
	position: relative;
	width: 209px;
	top: -6.125rem;
	left: 5rem;
}

.cta {
  background-color: var(--accent1);
  color: var(--white);
  border-radius: 12px;
  margin-top: -11rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
  line-height: var(--lh-large);
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.dollars {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  margin-right: 1rem;
}

.pricing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}
 
.btn{
  display: block;
  margin: 1rem 0;
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ios {
  background-color: var(--black);
  color: var(--white);
}

.android {
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 0;
}

.download {
  margin-left: 8px;
}

footer {
  padding: 1.5rem;
	display: flex;
	flex-direction: column;
  gap: 4rem;
}

.email {
  font-weight: var(--fw-bold);
}

.footer-contact {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	line-height: 1.625rem;
}

.social {
  display: flex;
  gap: 1.25rem;
}

